:root {
    --main-light: #efebe0;
    --main-dark: #202124;
    --main-color: #F76900;
    --accent: #6C5A49;
}

html {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
    cursor: pointer;
}

button,
input {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
    background-color: var(--main-light);
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar content';
}

.picture {
    border-radius: 50%;
    background-color: var(--main-light);
    border: 3px solid var(--main-dark);
}
/* --- --- --- --- --- HEADER --- --- --- --- --- --- */

.header{
    background-color: var(--accent);
    grid-area: header;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: var(--main-dark);
    z-index: 3;
}

.topnav {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.search {
    display: flex;
    align-items: center;
    margin-right: auto;
    max-width: 100%;
}

.icon {
    width: 1.8rem;
}

.search > #search {
    display: inline-block;
    border: 0;
    background-color: var(--main-light);
    padding: 0.75em 2em;
    outline-color: var(--main-dark);
    margin-left: 1.25rem;
    border-radius: 99em;
    width: clamp(80%, 700px);
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}

.account .picture {
    margin: 0 1rem 0 2.5rem;
    height: 60px;
}

.bottomnav {
    display: grid;
    grid-template-columns: 1fr max-content;

}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-light);
    padding-bottom: 1.5rem;
}

.profile .greeting {
    font-size: 1.5rem;
}

.profile .user {
    font-weight: 800;
}

.profile .username{
    color: var(--main-color);
}
.profile .picture {
    margin-right: 2.5rem;
    height: 120px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 2rem;
}

.btn {
    font-weight: 800;
    padding: 0.75em 2.3em;
    font-size: 1.2rem;
    background-color: var(--main-color);
}

.btn:hover{
    color: var(--main-light);
}

/* --- --- --- --- --- SIDEBAR --- --- --- --- --- --- */

.sidebar {
    grid-area: sidebar;
    background-color: #fffff2;
    z-index: 2;
}

.top {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 8rem;
    font-size: 25px;
    display: flex;
}

.top .logo {
    height: 150px;
}

.subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.element {
    background-color: var(--main-color);
    font-size: 30px;
    padding: .5rem;
}

.github {
    display: inline-flex;
}

.element:hover{
    color: var(--main-light);
}

/* --- --- --- --- --- CONTENT --- --- --- --- --- --- */

.content{
    grid-area: content;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'quotes counter'
        'quotes trending';
    overflow: auto;
}

.quotes {
    grid-area: quotes;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 2rem;
}

.card {
    background-color:#fffff2;
    font-style: italic;
    font-weight: 800;
    font-size: 1.2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--main-dark);
}

.counter {
    grid-area: counter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers {
    font-size: 10rem;
    line-height: 1em;
    text-align: center;
    margin: 1rem;
    overflow: hidden;
    padding-left: 3rem;
    padding-right: 3rem;;
    color: var(--main-light);
}

.numbers__window {
    display: inline-block;
    overflow: hidden;
    width: 0.5em;
    height: 1em;
    background-color: var(--main-dark);
    border-radius: 10px;
}

.numbers__window__digit {
    font: inherit;
    word-break: break-all;
    display: block;
    width: 0;
    padding: 0 0.52em 0 0;
    margin: 0 auto;
    overflow: inherit;
    animation: counting 0.4s steps(10) forwards infinite;
}

.numbers__window__digit::before {
    content: attr(data-fake);
    display: inline-block;
    width: 100%;
    height: auto;
}

@keyframes counting {
    100% {
      transform: translate3d(0, -10em, 0);
    }
}

.numbers__window__digit--1 {
    animation-iteration-count: 3;
}

.numbers__window__digit--2 {
    animation-iteration-count: 6;
}

.numbers__window__digit--3 {
    animation-iteration-count: 9;
}

.numbers__window__digit--4 {
    animation-iteration-count: 12;
}

.numbers__window__digit--5 {
    animation-iteration-count: 15;
}

.trending {
    grid-area: trending;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    margin: 1rem;
    font-weight: 800;
}

#effect-example-1 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
}
#effect-example-1 tbody td {
  margin-inline-start: 10px;
  margin-inline-end: 20px;
  box-shadow:
    1px -1px 1px lightgrey,
    2px -2px 1px lightgrey,
    3px -3px 1px lightgrey,
    4px -4px 1px lightgrey,
    5px -5px 1px lightgrey,
    6px -6px 1px lightgrey,
    7px -7px 1px lightgrey,
    8px -8px 1px lightgrey,
    9px -9px 1px lightgrey,
    10px -10px 1px lightgrey;
}